@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply default:max-w-['100%'] sm:max-w-['100%'] lg:max-w-[1024px] xl:max-w-[1280px] 2xl:max-w-[1536px];
    }
}

@layer base {
    /* #region  /**=========== Typography =========== */

    body {
        @apply overflow-x-hidden font-montserrat leading-normal text-white;
    }

    /* #endregion  /**======== Typography =========== */

    .layout {
        max-width: 1780px;
        @apply mx-auto w-11/12;
    }

    .bg-dark a.custom-link {
        @apply border-gray-200 hover:border-gray-200/0;
    }

    /* Class to adjust with sticky footer */
    .min-h-main {
        @apply min-h-[calc(100vh-56px)];
    }

    .toggle {
        height: 1.4rem !important;
    }

    .bg-radial {
        background: radial-gradient(
            81.96% 70.07% at 53.66% 0%,
            #8a15d5 0%,
            #131531 100%
        );
    }

    .bg-linear {
        background: linear-gradient(180deg, #350b50 0%, #10122a 25%);
    }

    .gradient-outline {
        border: 1px solid transparent;
        border-radius: 8px;
        background: linear-gradient(to right, #0d0f23, #0d0f23),
            linear-gradient(to right, #8a15d5, grey);
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;

        /* Other styles */
        padding: 8px 12px 8px 12px;
    }

    .gradient-text {
        background: linear-gradient(85deg, #8a15d5 29.8%, #c932cc 55.64%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@layer utilities {
    .animated-underline {
        background-image: linear-gradient(#33333300, #33333300),
            linear-gradient(
                to right,
                var(--color-primary-400),
                var(--color-primary-500)
            );
        background-size: 100% 2px, 0 2px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
    }
    @media (prefers-reduced-motion: no-preference) {
        .animated-underline {
            transition: 0.3s ease;
            transition-property: background-size, color, background-color,
                border-color;
        }
    }
    .animated-underline:hover,
    .animated-underline:focus-visible {
        background-size: 0 2px, 100% 2px;
    }
}
