.blur-purple {
    position: absolute;

    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    background: radial-gradient(
        82.79% 50% at 50% 50%,
        rgba(138, 21, 213, 0.17) 0%,
        rgba(251, 63, 255, 0.17) 100%
    );
    filter: blur(200px);
}
