.carousel {
    overflow: initial;

    .slick-prev,
    .slick-next {
        z-index: 5;
        width: 12px !important;
        height: 28px !important;

        &::before {
            display: none;
        }

        @media (min-width: 768px) {
            .md\:\!h-\[53px\] {
                width: 22px !important;
                height: 53px !important;
            }
        }

        @media (max-width: 768px) {
            top: auto !important;
            bottom: -80px;
        }
    }

    .slick-prev {
        @media (max-width: 768px) {
            left: 20px;
        }
    }
    .slick-next {
        @media (max-width: 768px) {
            right: 20px;
        }
        img {
            transform: rotate(180deg);
        }
    }
    .slick-dots {
        bottom: -60px !important;

        li.slick-active {
            width: 19px;
            height: 19px;
            button {
                background: transparent;
                width: 19px;
                height: 19px;
                border-radius: 30px;
                border: 1px solid #8a15d5;
            }
        }
        li {
            width: 8px;
            height: 8px;
            button {
                background: #d6d9dc;
                width: 8px;
                height: 8px;
                padding: 0;
                border-radius: 30px;

                &::before {
                    display: none;
                }
            }
        }
    }
}
